<template>
  <div id="app">
    <header-temp></header-temp>
    <hr>
    <search v-on:SearchRequested="handleSearch"></search>
    <preview :gifs="gifs"></preview>    
  </div>
</template>

<script>
import Search from './components/Search.vue'
import Preview from './components/Preview.vue'
import HeaderTemp from './components/HeaderTemp.vue'
export default {
  components: { Search,Preview,HeaderTemp },
  name: 'app',
  data() {
    return {
      gifs: []
    }
  },
  methods: {
    handleSearch(query){
      this.gifs = [];
      fetch(`https://api.giphy.com/v1/gifs/search?api_key=nFTj4BUTQ68wwAGEEBW66RnZvRpecgY9&q=${query}`)
      .then((res) => { return res.json() } )
      .then((res) => { this.gifs = res.data; } )

    }
  },
  created(){
    fetch('https://api.giphy.com/v1/gifs/trending?api_key=nFTj4BUTQ68wwAGEEBW66RnZvRpecgY9')
    .then((res) => { return res.json() } )
    .then((res) => { this.gifs = res.data; } ); 
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

</style>
